.user-post {
  
}

.ant-card {
  width: 100% !important;
}

.card-user {
  display: flex;
  justify-content: space-between;

  .card-user__left {
    font-weight: bold;
  }
}

.posts {
  &__title {
    background: #1890ff;
    margin-top: 1rem;
    color: white;
    padding: 20px 0;
    font-weight: bold;
    margin-right: 2px;
  }
}

.modal-comment {
  border-bottom: 1px solid #eee;

  &__sender {
    font-weight: bold;
    font-size: 16px;
  }

  &__body {
    font-size: 14px;
    font-style: italic;
  }
}